.bg-primary {
    background: rgb(223,223,254);
background: linear-gradient(180deg, rgba(223,223,254,1) 6%, rgba(229,229,254,1) 38%, rgba(244,244,255,1) 70%, rgba(251,251,255,1) 94%);
}

.bg-secondary {
    background: rgb(255,228,225);
background: linear-gradient(180deg, rgba(255,228,225,1) 28%, rgba(251,251,255,1) 94%);
}

.text-primary {
    color: #020166 !important;
}

.bg-custom {
    background-color: #EEEEEE !important;
}

.navbar-light .navbar-nav .nav-link{
    color: #020166 !important;
}

.bg-img {
    background-image: url(/images/bg2.png);
    background-repeat: repeat;
}